# Ignore compiled Python files
django_project/__pycache__/
blog/__pycache__/
blog/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
*.pyc
*.pyo

# Ignore Python package metadata
*.egg-info/

# Ignore log files
*.log

# Ignore SQLite database files
*.sqlite3

# Ignore environment variable files
/django_project/.env

# Ignore static and media files
static/
/home/axel/MyCode/DjangoTutorial/django_project/media
media/

#additional
.vscode/
venv/

#tatus
tatus
